<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .textLabel{
      font-size: 14px;
      font-weight: 700;
      font-family: 'Georgia'
    }
    circle{
      fill-opacity: 0.6;
      stroke-width: 2px;
      stroke-opacity: 0.8;
    }
    .axis path {
      display: none;
      stroke-width: 2px;
      stroke: #313113;
    }

    .axis line {
      /* display: none; */
      stroke-width: 1px;
      stroke: #d0d0d0;
      stroke-dasharray: 4, 2;
    }

    .axis text {
      fill: #9090a0;
      font-weight: bold;
      font-size: 18px;
    }

    .xLabel{
      font-size: 50px;
      fill:#9090a0;
      font-weight: 700;
    }

    .monthText{
      font-family: 'Helvetica Neue';
      font-size: 160px;
      fill:#909099;
      font-weight: 700;
      fill-opacity: 0.9;
    }
  </style>
  <script src="public/d3.min.js"></script>
  <script src="public/labeler.js"></script>
</head>
<body>
  <div class="container">
  </div>
</body>
<script>
  var margin = {top: 20, bottom: 50, left: 80, right: 60};
  var svgWidth = 1200;
  var svgHeight = 650;

  var width=svgWidth - margin.left - margin.right;
  var height=svgHeight - margin.top - margin.bottom;

  var svg = d3.select('.container')
            .append('svg')
            .attr('width', svgWidth)
            .attr('height', svgHeight);
  // scale
  var y = d3.scaleLinear()
            .domain([0,100,200,500,1000,2000,5000,10000,50000,100000,150000,160000])
            // .range([0,(width-30)/10,(width-30)*2/10,(width-30)*3/10,(width-30)*4/10,(width-30)*5/10,(width-30)*6/10,(width-30)*7/10,(width-30)*8/10,(width-30)*9/10,width-30,width]);
            .range([height,(height-30)*9/10+30,(height-30)*8/10+30,(height-30)*7/10+30,(height-30)*6/10+30,(height-30)*5/10+30,(height-30)*4/10+30,(height-30)*3/10+30,(height-30)*2/10+30,(height-30)/10+30, 30,0])
  var x = d3.scaleLinear()
            .domain([0,5,20,50,100,200,500,1000,1200])
            .range([0,(width-30)/7,(width-30)*2/7,(width-30)*3/7,(width-30)*4/7,(width-30)*5/7,(width-30)*6/7,width-30,width])
            // .range([height,(height-30)*6/7+30,(height-30)*5/7+30,(height-30)*4/7+30,(height-30)*3/7+30,(height-30)*2/7+30,(height-30)/7+30, 30,0]);
  var r = d3.scaleLinear()
            .domain([0,0.5,1])
            .range([25,10,25]);
  var color = d3.scaleQuantize()
                .domain([0,1])
                .range(["#1B6AA5", "#8A949B","#E8110F" ]);

  // axises
  var xAxis = d3.axisBottom(x)
                .tickSize(-height)
                .tickValues([0,5,20,50,100,200,500,1000]); 
                // .tickValues([0,50,100,200,500,1000,2000,5000,10000,100000,150000]);

  var yAxis = d3.axisLeft(y)
                .tickSize(-width)
                // .tickValues([0,5,10,20,50,100,200,1000]); 
                .tickValues([0,100,200,500,1000,2000,5000,10000,50000,100000,150000]);
  svg.append("g")
    .attr("transform", `translate(${margin.left},${margin.top+height})`)
    .call(xAxis)
    .attr('class','axis')
    .selectAll("text")
    .attr('dy',16)
    .style("text-anchor", "middle");
  svg.append("text")             
      .attr("transform",
            "translate(" + (width-140) + " ," + 
                           (height + margin.top-10) + ")")
      .style("text-anchor", "start")
      .text("Tweet")
      .attr('class','xLabel');
  svg.append("g")
     .attr("transform", `translate(${margin.left},${margin.top})`)
     .attr('class','axis')
     .call(yAxis);
  svg.append('g')
      .attr("transform",`translate(${margin.left+42},${margin.top+8})`)
      .append("text")             
      .attr("transform",
            "rotate(270)")
      .style("text-anchor", "end")
      .text("Retweet")
      .attr('class','xLabel');

  var bisect = d3.bisector(function(d) { return d[0]; });
  
  function parseDate(str){
    var y = str.substr(0,4),
        m = str.substr(4,2)-1,
        d = str.substr(6,2);
    if(d) return new Date(y,m,d);
    return new Date(y,m,1);
  }
  function getDataByMonth(data,time){
    return data.map(d=>{
      return {
        label: d.label,
        forward: findFreqByMonth(d.value,time),
        freq: findForwardByMonth(d.value,time),
        time: time,
        trend: d.trend
      }
    })
  }
  function findFreqByMonth(data,time){
    let index = bisect.left(data,time);
    let now = data[index];
    if (index > 0) {
      let last = data[index-1];
      let timeScale = d3.scaleLinear()
            .domain([last[0], now[0]])
            .range([last[1],now[1]]);
      return timeScale(time);
    }
    return now[1];
  }
  function findForwardByMonth(data,time){
    let index = bisect.left(data,time);
    let now = data[index];
    if (index > 0) {
      let last = data[index-1];
      let timeScale = d3.scaleLinear()
            .domain([last[0], now[0]])
            .range([last[2],now[2]]);
      return timeScale(time);
    }
    return now[2];
  }
  function position(dot){
    dot.attr('cx',d=>x(d.forward)+margin.left)
       .attr('cy',d=>{
         return y(d.freq)+margin.top;
        })
       .attr('r',d=>{
        return r(d.trend);})
       .style("fill", function(d) { return color(d.trend); })
       .style("stroke",function(d) { return color(d.trend); })
       .style("display",function(d) {
        if(d.freq<50&&d.forward<2){
            return 'none';}});
  }

  var dataArray=[];
  d3.csv('public/data/hashtag_bubble.csv').then(function(data) {
    console.log(data);
    data.forEach(d => {
      let tmp={};
      tmp.label=d.hashtag.trim();
      tmp.trend=d.trend.trim();
      tmp.value=[];
      for(let label in d){
        if(label!=='hashtag'&&label!=='trend'&&label.substr(0,2)!=='re'){
          tmp.value.push([parseDate(label),parseInt(d[label]),parseInt(d['re'+label])]);
        }
      }
      tmp.value.sort((a,b)=> a[0]-b[0]);
      dataArray.push(tmp);
    });
    console.log(dataArray);

    var monthText = svg.append('g')
                   .append('text')
                   .attr('x',margin.left+60)
                   .attr('y',margin.top+160)
                   .attr('class','monthText');
    // Add a dot per state. Initialize the data at 1950, and set the colors.
	  var dot = svg.append("g")
					.attr("class", "dots")
          .selectAll(".dot")
          .data(getDataByMonth(dataArray,new Date(2015,11)))
          .enter().append("circle")
					.attr("class", "dot");
    var text = svg.append("g")
          .selectAll(".text")
          .data(getDataByMonth(dataArray,new Date(2015,11)))
          .enter().append("text")
          .attr("class", "textLabel")
          .attr("x", function(d) {
            return d.x;
          }).attr("y", function(d) {
            return d.y;
          })
          .text(d=>d.label)
          .style("text-anchor", "middle")
          .style("fill", function(d) { return "#242424"; })
          .style("display",function(d) {
            if(d.freq<50&&d.forward<2){
            return 'none';}});


    svg.transition()
       .duration(150000)
       .ease(d3.easeLinear)
       .tween('time',()=>{
        return function(t) {
          var month = d3.interpolateDate(new Date(2015,11),new Date(2018,11))
          tweenYear(month(t));
        }
       })

    function tweenYear(year){
      dot.data(getDataByMonth(dataArray,year)).call(position);
      textPosition(getDataByMonth(dataArray,year));
      if(year<=new Date(2018,11)){
        year.setMonth(year.getMonth() + 1);
        monthText.text(year.getFullYear()+'/'+(year.getMonth()+1));
      }
    }

    function textPosition(textData){
      text.data(textData).each(function(d) {
        d.width = this.getBBox().width;
        d.x = x(d.forward)+margin.left;
        d.y = y(d.freq)+margin.top;
        d.r = r(d.trend);
        d.height = this.getBBox().height;
      })

      var labels = d3.labeler()
               .label(textData)
               .anchor(textData)
               .width(width)
            .height(height)
            .start(0);;

      text.attr("x", function(d) {
          return d.x;
        }).attr("y", function(d) {
          return d.y;
        })
        .text(d=>d.label)
        .style("text-anchor", "middle")
        .style("fill", function(d) { return "#242424"; })
        .style("display",function(d) {
          if(d.freq<50&&d.forward<2){
            return 'none';}});
    }
  });
</script>
</html>