<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>freword</title>
  <style>
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    text{
        fill:black;
        alignment-baseline: central;
        font-family: 'Roboto';
        /* font-size: 12px; */
        dominant-baseline: central;
        font-weight: 500;
      }
      .axis{
      /* stroke: #C1C1C1; */
      stroke-width: 1px;
    }
    .domain{
        stroke:none
    }
  </style>
    <script src="public/d3.min.js"></script>
</head>
<body>
  <div class="container">
        <div class='chart' style="height: 600px; width: 850px;">
            <svg id='free' style="height: 100%; width: 100%;">
                <defs>
                    <marker id="arrow" 
                            markerUnits="strokeWidth" 
                            markerWidth="12" 
                            markerHeight="12" 
                            viewBox="0 0 12 12" 
                            refX="6" 
                            refY="6" 
                            orient="auto">
                            <path d="M2,2 L10,6 L2,10 L6,6 L2,2" style="fill:grey;" />
                    </marker>
                </defs>
            </svg>
        </div>
  </div>
</body>
<script src="public/free.js"></script>
</html>