<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>freword</title>
  <style>
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .axis{
            text-anchor: middle;
            dominant-baseline: middle;
        }
    text{
        dominant-baseline: middle;
    }
    .line{
        stroke:grey;
        stroke-dasharray: 3 3;
    }
    .lable{
        stroke:grey;
        /* stroke-dasharray: 3 3; */
        fill:none
    }
    line{
        stroke:grey;
        /* stroke-width: 2px */
    }
  </style>
    <script src="public/d3.min.js"></script>
</head>
<body>
  <div class="container">
        <div class='chart' style="height: 600px; width: 850px;">
            <svg id='bubble' style="height: 100%; width: 100%;">
            <defs>
                <marker id="arrow" 
                        markerUnits="strokeWidth" 
                        markerWidth="12" 
                        markerHeight="12" 
                        viewBox="0 0 12 12" 
                        refX="6" 
                        refY="6" 
                        orient="auto">
                        <path d="M2,2 L10,6 L2,10 L6,6 L2,2" style="fill:grey;" />
                </marker>
            </defs>
            </svg>
        </div>
        <div class='chart' style="height: 500px; width: 500px;">
        </div>
  </div>
</body>
<script src="public/freword.js"></script>
</html>