<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="public/d3.min.js"></script>
  <script src="public/FileSaver.js"></script>
  <!-- <script src="https://peterbeshai.com/d3-interpolate-path/d3-interpolate-path.js"></script> -->
  <style>
    body{
      background-color: #ffffff;
    }
    .axisYear text{
      font-size: 80px;
      stroke: #a0a0a0;
      stroke-width: 5px;
      fill: #a0a0a0;
    }
    .axisBottom path {
      display: none;
      stroke-width: 2px;
      stroke: #313113;
    }

    .axisBottom line {
      /* display: none; */
      stroke-width: 1px;
      stroke: #d0d0d0;
      stroke-dasharray: 3, 1;
    }

    .axisBottom text {
      fill: #a0a0a0;
      font-weight: bold;
      font-size: 18px;
      transform: "rotate(270)";
    }

    .axisLeft path {
      stroke-width: 2px;
      stroke: #333333;
    }

    .axisLeft .tick {
      display: none;
    }

    .axisLeft text {
      display: none;
    }

    .axis path,
    .axis line {
      shape-rendering: crispEdges;
    }

    .grid line {
      stroke: #565656;
      stroke-opacity: 0.6;
      stroke-width: 1px;
      /* stroke-dasharray: 8, 6; */
      /* shape-rendering: crispEdges; */
    }

    .grid path {
      stroke-width: 0;
    }

    .grid text{
      writing-mode: vertical-lr;
      font-size: 20px;
      font-weight: bold;
      font-family:"Hanzipen SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
      fill: #565656;
      stroke: none;
      /* text-shadow: 4px 4px 4px #999999; */
    }
  </style>
</head>

<body>
  <div class="container"></div>
</body>
<script>
  let locale = d3.timeFormatLocale({
  dateTime: "%a %b %e %X %Y",
  date: "%Y/%-m/%-d",
  time: "%H:%M:%S",
  periods: ["上午", "下午"],
  days: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"],
  shortDays: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"],
  months: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
  shortMonths: ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"]
  });
  var margin = { top: 80, bottom: 80, left: 80, right: 120 };
  var svgWidth = 1000;
  var svgHeight = 600;

  var width = svgWidth - margin.left - margin.right;
  var height = svgHeight - margin.top - margin.bottom;

  var svg2 = d3.select('.container')
    .append('svg')
    .attr('width', svgWidth)
    .attr('height', svgHeight);

  var svg = d3.select('.container')
    .append('svg')
    .attr('transform',"translate(" + 1.5+ "," + (-svgHeight) + ")")
    .attr('class', 'streamsvg')
    .attr('id','svg')
    .attr('width', svgWidth)
    .attr('height', svgHeight);

  var g = svg.append("g")
    .attr("transform", "translate(" + margin.left + ","+margin.top+")");

  // extra svg to clip the graph and x axis as they transition in and out
  var graph = g.append("svg")
    .attr("width", width+2)
    .attr("height", height + margin.top + margin.bottom);

  // var graph = g2.append("svg")
  //   .attr("width", width+2)
  //   .attr("height", height + margin.top + margin.bottom);


  // scale
  var x = d3.scaleTime()
    .domain([new Date(2016, 0), new Date(2018, 11)])
    .range([0, width + width / 11 * 24]);

  var y = d3.scaleLinear()
    .range([height, 0]);
  var color = d3.scaleOrdinal()
    .domain(d3.range(0, 4, 1))
    .range([ '#1B6AA5','#bab8bd', '#cc5856', '#FFCC66'])

  var xnow = d3.scaleTime()
    .domain([new Date(2016, 0), new Date(2016, 11)])
    .range([0, width]);
  // axises
  var xAxis = d3.axisBottom(x)
    // .tickSizeInner(-height + 40)
    .tickFormat(
      // locale.format('%b月')
      d => {
      if (d - new Date(2016, 5, 23) === 0) return;
      // if (d.getMonth() === 0) 
      // return d3.timeFormat("%m月")(d);
      else { return d3.timeFormat("%m")(d); }
    }
    )
    .tickSize(-height)
    .ticks(d3.timeMonth);

  // var yAxis = d3.axisLeft(y);

  // let newTicks = xnow.ticks(d3.timeMonth);
  // // newTicks.push(new Date(2016, 5, 23));
  // xAxis.tickValues(newTicks);

  graph.append("g")
    .attr("transform", `translate(0,${height})`)
    .attr("class", "axisBottom")
    .style("font", "12px Helvetica Neue")
    .call(xAxis)
    .selectAll("text")
    .style("text-anchor", "end")
    .attr("y", 0)
    .attr("x", 9)
    .attr("dy", "1em")
    .attr("transform", "rotate(270) translate(18, 2)");
  graph.append("g")
    .attr("class", "axisYear")
    // .attr("transform", `translate(0,${margin.top})`) 
    .append("text")
    .text('2016')
    // .style("font", "12px Helvetica Neue")
    .style("text-anchor", "end")
    .attr("y", 0)
    .attr("x", 9)
    .attr("dy", "1em")
    .attr("transform", "translate(180, 0)");

  function parseDate(str) {
    var y = str.substr(0, 4),
      m = str.substr(4, 2) - 1,
      d = str.substr(6, 2);
    if (d) return new Date(y, m, d);
    return new Date(y, m);
  }

  function sortIndex(array, i) {
    let tmp = array.concat();
    tmp.sort((a, b) => (a[i][1] - a[i][0] - (b[i][1] - b[i][0])));
    let index = [];
    tmp.forEach(d => {
      index.push(array.indexOf(d));
    })
    return index;
  }

  d3.csv('public/data/hashtag_stream.csv').then(function (data) {
    var dataArray = [];
    var keys = [];

    var originData = []
    data.forEach(d => {
      let word = d.hashtag.trim();
      keys.push(word);
      for (let label in d) {
        if (label !== 'hashtag') {
          let tmp = {};
          tmp.key = word;
          tmp.date = label;
          tmp.value = parseInt(d[label]);
          originData.push(tmp);
        }
      }
    });


    var nestData = d3.nest()
      .key(d => d.date)
      .entries(originData);

    nestData.forEach(d => {
      let tmp = {};
      tmp.date = d.key;
      d.values.forEach(dd => {
        tmp[dd.key] = dd.value;
      });
      dataArray.push(tmp);
    });

    dataArray.sort((a, b) => parseDate(a.date) - parseDate(b.date));
    console.log(dataArray);

    var layers = stack(dataArray2);
    var timeLen = dataArray2.length;
    var dataTypeNum = layers.length;

    var ymin = d3.min(layers, stackMin);
    var ymax = d3.max(layers, stackMax);

    var sepLen = 50; // 每条线的间隔

    var textData = [];
    for (let i = 0; i < timeLen; i++) {
      let index = sortIndex(layers, i);
      let sep = seperate(layers, i); // i时间点的竖线宽度
      let extraSpace = sepLen * (dataTypeNum - 1);
      let totalLen = sep + extraSpace;
      if (i === 0) {
        let start = - totalLen / 2;
        let now = start;
        let sepLen0 = ((ymax - ymin - 200) - sep) / (dataTypeNum - 1);
        for (let j = 0; j < dataTypeNum; j++) {
          let ii = index[j];
          // let tmp = layers[ii][0][1] - layers[ii][0][0];
          // layers[ii][0][0] = now;
          // layers[ii][0][1] = now + tmp;
          textData.push({ "text": layers[ii].key, "y": now, "type": j })
          layers[ii].type = j;
          // now = now + tmp + sepLen;
        }
      } else {
        // let start = - totalLen / 2;
        // let now = start;
        // for (let j = 0; j < dataTypeNum; j++) {
        //   let ii = index[j];
        //   let tmp = layers[ii][i][1] - layers[ii][i][0];
        //   layers[ii][i][0] = now;
        //   layers[ii][i][1] = now + tmp;
        //   now = now + tmp + sepLen;
        // }
      }
    }

    ymin = d3.min(layers, stackMin) * 1.6;
    ymax = d3.max(layers, stackMax) * 1.3;
    y.domain([ymin, ymax]);

    var area = d3.area()
      .x(function (d) { return x(parseDate(d.data.date)); })
      .y0(function (d) { return y(d[0]) })
      .y1(function (d) { return y(d[1]) })
      .curve(d3.curveCardinal.tension(0.1));

    var stream = graph.selectAll(".stream")
      .data(layers)
      .enter().append("path")
      .attr('class', "stream")
      // .attr('class', 'streamsvg')
      // .style("filter", "url(#drop-shadow)")
      // .attr('filter','url(#f4)')
      // .attr('clip-path','url(#myClip)')
      .attr("d", area)
      .style("fill-opacity", 0.78)
      .style("fill", d => color(d.type))
      // .style('stroke', '#fefefe').style('stroke-width', 1)
      // .style('stroke-opacity', 0.8);

    stream.attr("opacity", 1)
      .on("mouseover", function (d, i) {
        svg.selectAll(".stream")
          .attr("opacity", function (d, j) {
            return j != i ? 0.3 : 1;
          })
      })
      .on("mouseout", function (d, i) {
        svg.selectAll(".stream")
          .attr("opacity", 1);
      })


    svg2.selectAll(".label")
      .data(textData)
      .enter().append('text')
      .attr('class', 'label')
      .attr("x", width + margin.left + 30)
      .attr("y", (d,i) => 25*i + margin.top + 5)
      .text(d => d.text)
      .style('text-transform', 'capitalize')
      .style('fill', '#333333')
      .attr("font-family", "sans-serif")
      .attr("text-anchor", "start")
      .attr("font-size", 16)
      .attr('font-weight', 900);


    svg2.selectAll('.colorLabel')
       .data(textData)
       .enter().append('circle')
       .attr('class','colorLabel')
       .attr('cx',width+margin.left+20)
       .attr('cy',(d,i) => 25*i + margin.top)
       .attr('r',6)
       .style("fill-opacity", 0.8)
       .style('fill',d=>color(d.type))
       .style('stroke','#333333')
       .style('stroke-width',1)

    var timecount = 0;
    var tmplayers = layers[0].filter((d) => d.data.date !== '20160623')

    // gridlines in x axis function
    function make_x_gridlines() {		
        return d3.axisBottom(x)
            .tickValues([new Date(2016,5,23)])
    }
    // add the X gridlines
    // var grid = graph.append("g")			
    //   .attr("class", "grid")
    //   .attr("transform", `translate(0,${height-80})`)
    //   .call(make_x_gridlines()
    //       .tickSize(-height+80)
    //       .tickFormat(()=>{return '公投日'})
    //   )

    // graph.select('.grid')
    //       .selectAll('text')
    //       .attr('dy',-40)
    //       .attr('transform','translate(0,85)');
    var xseperate =0;
    const interval = d3.interval((t) => {
      // let xTicks = xAxis.tickValues();
      xseperate = xseperate+xnow(parseDate(tmplayers[timecount + 1].data.date)) - xnow(parseDate(tmplayers[timecount].data.date));
      xnow.domain([parseDate(tmplayers[timecount + 1].data.date), parseDate(tmplayers[timecount + 12].data.date)]);
      // xTicks.push(parseDate(tmplayers[timecount + 12].data.date));

      // xTicks.shift();
      // xAxis.tickValues(xTicks);
      var labelText = graph.select('.axisBottom').transition().duration(1000).ease(d3.easeLinear).attr('transform', `translate( ${-xseperate},${height})`);
      graph.select('.grid').transition().duration(1000).ease(d3.easeLinear).attr('transform', `translate( ${-xseperate},${height-80})`);
      // .tickValues([new Date(2016,5,23)]).tickSize(-height)
      //     .tickFormat(()=>{return '6.23 公投日'}));
      labelText.selectAll('text')
        .style("text-anchor", "end")
        .attr("y", 0)
        .attr("x", 9)
        .attr("dy", "1em")
        .attr("transform", "rotate(270) translate(18, 2)");

      stream.transition()
        .duration(1000)
        .ease(d3.easeLinear)
        .attr('transform', 'translate(' + (-xseperate) + ',0)');

      timecount++;
      if(timecount===11){
        graph.select('.axisYear text').transition().text('2017');
      }
      if(timecount===23){
        graph.select('.axisYear text').transition().text('2018');
      }
      if (timecount === 24) {
        graph.transition().delay(900).duration(100).attr('width', width + 20);
        interval.stop();
      }
    }, 1000);

    // svg2.append("g")
    //   .attr("transform", `translate(${margin.left},${margin.top})`)
    //   .attr("class", "axisLeft")
    //   .style("font", "12px Helvetica Neue")
    //   .call(yAxis)

  });


</script>

</html>