<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>index</title>
  <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
a {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
  </style>
</head>
<body>
  <div class="container" id='text'>
        <table>
                <tr>
                  <th>Chart</th>
                </tr>
                <tr>
                  <td><a href="/visualization/views/2_hashtag">hashtag frequency</a></td>
                </tr>
                <tr>
                    <td><a href="/visualization/views/hashtag_stream">4 topics relate Brexit</a></td>
                </tr>
                <tr>
                  <td><a href="/visualization/views/hashtag_regret">two regret hashtag</a></td>
                </tr>
                <tr>
                    <td><a href="/visualization/views/liner">the media coverage data of figure 1.1</a></td>
                </tr>
                <tr>
                    <td><a href="/visualization/views/block">the media coverage data of table 1.1</a></td>
                </tr>
                <tr>
                    <td><a href="/visualization/views/wordProbability">100keywords of leave and remain</a></td>
                </tr>
                <tr>
                    <td><a href="/visualization/views/GoogleTrend">Google Trend</a></td>
                </tr>
                <tr>
                  <td><a href="/visualization/views/speech">the speech of churchill and Hilter</a></td>
              </tr>
              <tr>
                <td><a href="/visualization/views/newspaper">Newspaper</a></td>
            </tr>
            <tr>
              <td><a href="/visualization/views/freword">freword</a></td>
            </tr>
            <tr>
              <td><a href="/visualization/views/EditorialKeywords">EditorialKeywords</a></td>
            </tr>
            <tr>
              <td><a href="/visualization/views/invasion">EditorialKeywords</a></td>
            </tr>
              </table>
  </div>
</body>
<script>
</script>
</html>