<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>speech</title>
  <style>
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
  </style>
    <script src="static/d3.min.js"></script>
  <script src="static/speech/speech.js"></script>
  <script src="static/speech/js2wordcloud.js"></script>
</head>
<body>
  <div class="container">
        <div class='chart' id='chart' style="height: 500px; width: 500px;">
        </div>
  </div>
</body>
<script>
    d3.csv('static/data/churchill.csv').then(function(data) {
        console.log(data);
        let words = [];
        for (var i = 0; i < 150; i++) {
            words.push([data[i].word, parseInt(data[i].fre)])
        }
        var option = {
            tooltip: {
                show: true,
                formatter: function(item) {
                    return item[0] + ': 跑得比较快' + item[1] + 'km/h<br>' + '词云图'
                }
            },
            list: words,
            color: '#15a4fa',
            imageShape: './static/speech/images/text.png',
            ellipticity: 1
        }
        var wc = new Js2WordCloud(document.getElementById('chart'))
        wc.setOption(option);
    });
</script>
</html>