<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>wordProbability</title>
  <style>
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .chart{
      width: 800px;
      height: 700px;
    }
    .axis {
        font-size: 14px;
    }
    .axis line{
        stroke: grey;
        stroke-width: 2px
    }
    .single-word{
        /* opacity: 0.5; */
        cursor: pointer;
        /* transform-origin: 50% 50%; */
    }
    .single-word:hover {
    /* transform: scale(1.2); */
    opacity: 0.5;
    }
    .tooltip{
      visibility:hidden;
      z-index: 10;
      position:absolute;
      color: #606c71;
      font-size: 25px;

    }
  </style>
  <script src="static/d3.min.js"></script>
  <script src="static/FileSaver.js"></script>
  <script src="static/d3.layout.cloud.js"></script>
</head>
<body>
  <div class="container">
      <button id="b1" type="button" onclick="myFunction()">Animate</button>
      <button id="b1" type="button" onclick="mmm()">暂停</button>
    <div class='chart'>
        <svg id='svg' class='wordCloud' width='100%' height='100%'/>
          <div class='tooltip'>
          </div>
    </div>
  </div>
</body>
<script src="static/wordProbability/process.js"></script>
<script src="static/wordProbability/index.js"></script>
<script>
let  frame = 0; 
var t;
function myFunction() {
  exportSVG(document.getElementById('svg'));
}
function mmm(){
  clearTimeout(t);
}
var exportSVG = function(svg) {
  // first create a clone of our svg node so we don't mess the original one
  var clone = svg.cloneNode(true);
  // parse the styles
  parseStyles(clone);

  // create a doctype
  var svgDocType = document.implementation.createDocumentType('svg', "-//W3C//DTD SVG 1.1//EN", "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd");
  // a fresh svg document
  var svgDoc = document.implementation.createDocument('http://www.w3.org/2000/svg', 'svg', svgDocType);
  // replace the documentElement with our clone 
  svgDoc.replaceChild(clone, svgDoc.documentElement);
  // get the data
  var svgData = (new XMLSerializer()).serializeToString(svgDoc);

  var blob = new Blob([svgData.replace(/></g, '>\n\r<')]);
  saveAs(blob, `myAwesomeSVG${frame++}.svg`);
  t = setTimeout(function(){exportSVG(document.getElementById('svg'));}, 40);
};

var parseStyles = function(svg) {
  var styleSheets = [];
  var i;
  // get the stylesheets of the document (ownerDocument in case svg is in <iframe> or <object>)
  var docStyles = svg.ownerDocument.styleSheets;

  // transform the live StyleSheetList to an array to avoid endless loop
  for (i = 0; i < docStyles.length; i++) {
    styleSheets.push(docStyles[i]);
  }

  if (!styleSheets.length) {
    return;
  }

  var defs = svg.querySelector('defs') || document.createElementNS('http://www.w3.org/2000/svg', 'defs');
  if (!defs.parentNode) {
    svg.insertBefore(defs, svg.firstElementChild);
  }
  svg.matches = svg.matches || svg.webkitMatchesSelector || svg.mozMatchesSelector || svg.msMatchesSelector || svg.oMatchesSelector;


  // iterate through all document's stylesheets
  for (i = 0; i < styleSheets.length; i++) {
    var currentStyle = styleSheets[i]

    var rules;
    try {
      rules = currentStyle.cssRules;
    } catch (e) {
      continue;
    }
    // create a new style element
    var style = document.createElement('style');
    // some stylesheets can't be accessed and will throw a security error
    var l = rules && rules.length;
    // iterate through each cssRules of this stylesheet
    for (var j = 0; j < l; j++) {
      // get the selector of this cssRules
      var selector = rules[j].selectorText;
      // probably an external stylesheet we can't access
      if (!selector) {
        continue;
      }

      // is it our svg node or one of its children ?
      if ((svg.matches && svg.matches(selector)) || svg.querySelector(selector)) {

        var cssText = rules[j].cssText;
        // append it to our <style> node
        style.innerHTML += cssText + '\n';
      }
    }
    // if we got some rules
    if (style.innerHTML) {
      // append the style node to the clone's defs
      defs.appendChild(style);
    }
  }

};
</script>
</html>